.background-lines {
    position: fixed;
    inset: 0;
    z-index: -10;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(to bottom, rgba(18, 17, 20, 1), rgba(18, 17, 20, 0.9));
    }
    .background-line {
      height: 1px;
      background-color: #fff;
    }
}