*{
  box-sizing: border-box;
}
body {
    background-color: $primary-color;
    font-family: 'Neue Montreal', sans-serif;
    color: $white;
    margin: 0;
    padding: 0;
}

@keyframes maskSlideUp {
  0% {
    mask-position: 0% 0%;
  }
  100% {
    mask-position: 0% 100%;
  }
}

